<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl.servicecommodity.dao.CommodityDao">
    <resultMap id="CommodityResultMap" type="com.wl.servicecommodity.entity.Commodity">
        <id column="id" property="id"/>
        <result column="cid" property="cid"/>
        <result column="itemName" property="itemName"/>
        <result column="itemImage" property="itemImage"/>
        <result column="itemNum" property="itemNum"/>
        <result column="purchasePrice" property="purchasePrice"/>
        <result column="itemPrice" property="itemPrice"/>
        <result column="createDate" property="createDate"/>
        <result column="createName" property="createName"/>
        <result column="itemIntroduce" property="itemIntroduce"/>
        <result column="itemIntroduceImage" property="itemIntroduceImage"/>
        <result column="status" property="status"/>
        <result column="updateTime" property="updateTime"/>
        <result column="updateName" property="updateName"/>
        <result column="version" property="version"/>
        <association property="commodityClassification"  javaType="com.wl.servicecommodity.entity.CommodityClassification">
            <id property="clid" column="clid"/>
            <result property="childId" column="childId"/>
            <result property="name" column="name"/>
            <result property="cstatus" column="cstatus"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
    id, cid, itemName, itemImage, itemNum, purchasePrice, itemPrice, createDate, createName,
    itemIntroduce, itemIntroduceImage, status,version,updateTime,updateName,
    </sql>

    <insert id="insertCommodity" parameterType="com.wl.servicecommodity.entity.Commodity">
        <selectKey resultType="java.lang.Integer" order="AFTER"
                   keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT into tb_item(id, cid, itemName, itemImage, itemNum, purchasePrice, itemPrice, updateName, createName,
        itemIntroduce, itemIntroduceImage, status,updateTime,createDate) VALUES (
        #{id}, #{cid}, #{itemName}, #{itemImage}, #{itemNum}, #{purchasePrice}, #{itemPrice},  #{createName},
        #{itemIntroduce}, #{itemIntroduceImage}, #{status},#{updateName},#{version},now(),now()
        )
    </insert>

    <update id="deleteCommodity">
        UPDATE tb_item
        <set>
            status=#{status}
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateCommodity" parameterType="com.wl.servicecommodity.entity.Commodity">
        update tb_item
        <set>
            <if test="cid!=0">
                cid = #{cid},
            </if>
            <if test="itemName != null">
                itemName =#{itemName},
            </if>
            <if test="itemImage != null">
                itemImage =#{itemImage},
            </if>
            <if test="itemNum !=0">
                itemNum =#{itemNum},
            </if>
            <if test="purchasePrice != null">
                purchasePrice =#{purchasePrice},
            </if>
            <if test="itemPrice !=null">
                itemPrice =#{itemPrice},
            </if>
            <if test="itemIntroduce != null">
                itemIntroduce =#{itemIntroduce},
            </if>
            <if test="itemIntroduceImage != null">
                itemIntroduceImage =#{itemIntroduceImage},
            </if>
            <if test="status != 0">
                status =#{status},
            </if>
            updateTime = now(),
            updateName =#{updateName}
            <if test="version != 0">
                version=#{version}
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="commodityAll" resultMap="CommodityResultMap">
        SELECT i.id, i.cid, i.itemName, i.itemImage, i.itemNum, i.purchasePrice, i.itemPrice, i.createDate,
        i.createName,i.version,
        i.itemIntroduce, i.itemIntroduceImage, i.status,i.updateTime,i.updateName ,c.name FROM tb_item i ,tb_item_cat
        c where
        i.cid = c.clid
        <if test="status != 0">
            where status = #{status}
        </if>
        order by createDate
    </select>

    <select id="commodById" resultMap="CommodityResultMap">
        SELECT i.id, i.cid, i.itemName, i.itemImage, i.itemNum, i.purchasePrice, i.itemPrice, i.createDate,
        i.createName,i.version,
        i.itemIntroduce, i.itemIntroduceImage, i.status,i.updateTime,i.updateName ,c.name FROM tb_item i ,tb_item_cat
        c where
        i.cid = c.clid and id=#{commodityId}
    </select>

    <select id="commodByCid" resultMap="CommodityResultMap">
        SELECT i.id, i.cid, i.itemName, i.itemImage, i.itemNum, i.purchasePrice, i.itemPrice, i.createDate,
        i.createName,i.version,
        i.itemIntroduce, i.itemIntroduceImage, i.status,i.updateTime,i.updateName ,c.name FROM tb_item i ,tb_item_cat
        c where
        i.cid = c.clid
        <if test="cid !=0">
           and clid =#{cid},
        </if>

        <if test="status != 0">
            and  status = #{status}
        </if>
        order by createDate
    </select>

    <select id="commodByName" resultMap="CommodityResultMap">
        SELECT<include refid="Base_Column_List"/>
        FROM tb_item   WHERE itemName = #{itemName}
        <if test="status != 0">
            and status = #{status}
        </if>
    </select>

    <update id="addItemNum">
        update tb_item
        <set>
            itemNum = #{addNum} + itemNum
        </set>
        where id=#{id}
    </update>

    <update id="delItemNum">
        update tb_item
        <set>
            itemNum =itemNum - #{delNum},version = version +1
        </set>
        where id=#{id} and version = #{oldVersion}
    </update>

    <select id="getItemNum" resultType="java.lang.Long">
        select  itemNum from tb_item where id=#{id}
    </select>
</mapper>
